doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 My Pets
    a(href='/update-cobj') Add to this table
    table
      thead
        tr
          th Name
          th Species
          th Age
      tbody
        each pet in data
          tr
            td= pet.properties.name
            td= pet.properties.species
            td= pet.properties.age